.canvas {
    margin: 10px;
}

.nodeSuccess .djs-visual> :nth-child(1) {
    stroke: #f70e0e !important;
    stroke-width: 3px !important;
}


.bjs-container .bjs-powered-by {
    display: none;
    z-index: -999;
}

.djs-shape .djs-visual > :nth-child(1):not(.djs-label):not(circle){
    fill: aquamarine !important;
    background-color: green;
    opacity: 0.4;
    /* pointer-events: none; */
}

.highlight-overlay .djs-visual > :nth-child(1){
    fill: red !important;
    background-color: green;
    opacity: 0.4;
    /* pointer-events: none; */
}

.app-containers {
    height: 90%;
    overflow: hidden;
}

.button-list {
    padding: 10px;
}